<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jm.launcher"
    android:versionCode="1000"
    android:versionName="@string/application_version" >

    <original-package android:name="com.jm.launcher" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.jm.launcher.permission.PRELOAD_WORKSPACE"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="system|signature" />
    <permission
        android:name="com.jm.launcher.permission.READ_SETTINGS"
        android:description="@string/permdesc_read_settings"
        android:label="@string/permlab_read_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.jm.launcher.permission.WRITE_SETTINGS"
        android:description="@string/permdesc_write_settings"
        android:label="@string/permlab_write_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.jm.launcher.permission.RECEIVE_LAUNCH_BROADCASTS"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.jm.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.jm.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.jm.launcher.permission.RECEIVE_LAUNCH_BROADCASTS" />

    <application
        android:name="com.jm.launcher.LauncherApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_home"
        android:label="@string/cm_application_name"
        android:largeHeap="@bool/config_largeHeap"
        android:supportsRtl="true" >
        <activity
            android:name="com.jm.launcher.Launcher"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:stateNotNeeded="true"
            android:theme="@style/Theme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/preferences_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.cyanogenmod.category.LAUNCHER_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.HiddenAppsActivity"
            android:exported="false"
            android:label="@string/hidden_apps_title" >
            <intent-filter>
                <action android:name=".settings.HiddenAppsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Intent received used to prepopulate the default workspace. -->
        <receiver
            android:name="com.jm.launcher.PreloadReceiver"
            android:permission="com.jm.launcher.permission.PRELOAD_WORKSPACE" >
            <intent-filter>
                <action android:name="com.jm.launcher.action.PRELOAD_WORKSPACE" />
            </intent-filter>
        </receiver>

        <!-- Intent received used to install shortcuts from other applications -->
        <receiver
            android:name="com.jm.launcher.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <!-- Intent received used to uninstall shortcuts from other applications -->
        <receiver
            android:name="com.jm.launcher.UninstallShortcutReceiver"
            android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <!-- New user initialization; set up initial wallpaper -->
        <receiver
            android:name="com.jm.launcher.UserInitializeReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.USER_INITIALIZE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.jm.launcher.PackageChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" >
                </data>
            </intent-filter>
        </receiver>

        <!-- The settings provider contains Home's data, like the workspace favorites -->
        <provider
            android:name="com.jm.launcher.LauncherProvider"
            android:authorities="com.jm.launcher.settings"
            android:exported="true"
            android:readPermission="com.jm.launcher.permission.READ_SETTINGS"
            android:writePermission="com.jm.launcher.permission.WRITE_SETTINGS" />

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />
    </application>

</manifest>